@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Bitter', serif; */    
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
header{
    width: 100%;
    height: 50px;
    background-color: #5b859a;
    top: 0;
    left: 0;
    position: fixed;
}
label.menu-icon {
    position: fixed;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 0 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #5b859a;
    color: #fff;
    border-radius: 3px;    
    text-align: center;
    left: 0px;
    top: 0;
    transition: all 0.4s linear;
    z-index: 1;    
}
label.menu-icon:hover{
    background-color: #fff;
    color: #5b859a;
}
/* button check  */
#chk {
    position: absolute;
    left: -100000px;
    display: none;
    top: 25px;
    z-index: 1;
}
#chk-sub{    
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 1;
}
aside {
    width: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -300px;
    height: 100vh;
}
aside > #principal{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(51, 51, 51, 0.219);
    height: 100vh;
    overflow: hidden;
    transition: all 0.4s linear;
}
aside nav > ul > li > a {
    display: block;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 1px solid #000;
    color: #ccc;
    transition: all 0.3s ease-in-out;
}
aside nav > ul > li > a:hover {
    background: #5b859a;
    box-shadow: 0px 2px 4px 0px rgb(255, 255, 255, 0.8)

}
nav#principal ul li:nth-child(4) a,
nav#principal ul li:nth-child(6) a {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav#principal ul li:nth-child(4) a span,
nav#principal ul li:nth-child(6) a span {
    margin-right: 10px;
}

#chk:checked ~ aside > #principal
{
    transform: translateX(300px);
}
.voltar {
    margin-top: 60px;
    background: #111;
    border-left: 5px solid #444;
}
.voltar label {
    display: block;    
    height: 40px;
    line-height: 20px;
    padding: 10px 0 10px 5px;
    margin: -10px;
    cursor: pointer;
}
.bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    transition: display 0.6s ease-in;
    display: none;    

}
#chk:checked ~ .bg {
    display: block;
    transition: all 0.6s ease-in;
}
nav#cursos, nav#contato {     
    position: fixed;
    left: -260px;    
    width: 250px;        
    height: 100%;
    background-color: #222;
    box-shadow: 4px 0 11px 0px rgb(0, 0, 0, 0.8);
    transition: all 0.4s linear;
}

nav#cursos:target,
nav#contato:target {
    transform: translateX(260px);    
} 
#cursos.hide,
#contato.hide{
    left: -520px;
    transform: translateX(-520px);    
}

/* area do conteúdo */
main  {
    display: flex;    
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100vh;    
    overflow: hidden;
}
main .area-conteudo {    
    background: url(../imgs/img-home/fundo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box; 
    height: 100vh;
    width: inherit;
    padding: 10px 20px;
    transition: all 0.4s linear;    
    margin-left: 0px;
    margin-top: 100px;
}

#chk:checked ~ main .area-conteudo
{  
    margin-left: 300px;
}

#chk:checked ~.menu-icon{
    left: 300px;
}